<div class="site-footer">
  <div class="site-footer-item">
    <a href='{{ .Site.Params.staticPrefix }}{{ "index.xml" | relURL }}'>{{ partial "fontawesome.html" "rss" }}</a>
  </div>
  <div class="site-footer-item">
    <a href="https://github.com/j6e">{{ partial "fontawesome.html" "github" }}</a>
  </div>
  <div class="site-footer-item">
    <a href="https://www.linkedin.com/in/joan-garcia-esquerdo/">{{ partial "fontawesome.html" "linkedin" }}</a>
  </div>
  <div class="site-footer-item">
    <a href="https://twitter.com/cross__entropy">{{ partial "fontawesome.html" "twitter" }}</a>
  </div>
  <div class="site-footer-item">
    <a href="/files/Joan_Garcia_Esquerdo_-_Machine_Learning_Engineer.pdf">{{ partial "fontawesome.html" "resume" }}</a>
  </div>
  <div class="site-footer-item">
    <a href="https://scholar.google.es/citations?user=VbZzc2MAAAAJ">{{ partial "fontawesome.html" "gscholar" }}</a>
  </div>
  <div class="site-footer-item">
    <a href="mailto:joan.g.esquerdo[at]gmail.com">{{ partial "fontawesome.html" "email" }}</a>
  </div>
</div>